:root {
  --md: 768px;
}

@value isOverMedium: screen and (min-width: 767px);
@value isUnderMedium: screen and (max-width: 768px);

.mdOver {
  @media isUnderMedium {
    & {
      display: none !important;
    }
  }
}

.mdUnder {
  @media isOverMedium {
    & {
      display: none !important;
    }
  }
}
