@import "@/styles/breakpoints.scss";

.title {
  color: #ffffff;
  text-decoration: none;
}

.homeButton {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  z-index: 150;

  @media isUnderMedium {
    & {
      width: 60px;
      height: 60px;
    }
  }
}

.overlay {
  z-index: 150;
}

.closeButton {
  position: fixed;
  top:0;
  right: 0;
  width: 80px;
  height: 80px;
  z-index: 200;

  @media isUnderMedium {
    & {
      width: 60px;
      height: 60px;
    }
  }
}
