.wrapper {
  --lineLength: 30px;
  --lineThin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1.0;
  transition: opacity,background-color 0.15s ease;
  cursor: pointer;
  background-color: #f5f5f5;

  &:hover {
    opacity: 0.4;
    transition-duration: 0.4s;
  }

  &.isActive {
    background-color: transparent;

    .line {
      background-color: #fcfcfc;

      &:nth-of-type(1) {
        top: 0;
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  .transformContainer {
    position: relative;
    width: var(--lineLength);
    height: var(--lineThin);
    pointer-events: none;
  }
  
  .line {
    display: block;
    position: absolute;
    width: var(--lineLength);
    height: var(--lineThin);
    background-color: #e8984c;
    transition: all 0.15s ease;
  
    &:nth-of-type(1) {
      top: calc(var(--lineThin) * -2);
    }
  
    &:nth-of-type(3) {
      top: calc(var(--lineThin) * 2);
    }
  }
}
