@import "@/styles/breakpoints.scss";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .background {
    position: relative;
    width: 50%;
    height: 50vh;
    opacity: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:nth-of-type(1) {
      background-image: url("/assets/img/ph_top1.jpg");
      animation: fadein 1.5s ease 0.5s 1 forwards;

      @media isUnderMedium {
        & {
          width: 100%;
          height: 100vh;
        }
      }
    }

    &:nth-of-type(2) {
      background-image: url("/assets/img/ph_top2.jpg");
      background-position: left top;
      animation: fadein 1.5s ease 1.0s 1 forwards;

      @media isUnderMedium {
        & {
          display: none;
        }
      }
    }

    &:nth-of-type(3) {
      background-image: url("/assets/img/ph_top3.jpg");
      animation: fadein 1.5s ease 1.5s 1 forwards;

      @media isUnderMedium {
        & {
          display: none;
        }
      }
    }

    &:nth-of-type(4) {
      background-image: url("/assets/img/ph_top4.jpg");
      animation: fadein 1.5s ease 2.0s 1 forwards;

      @media isUnderMedium {
        & {
          display: none;
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: 50.75%;
    left: 50%;
    width: 400px;
    height: 95px;
    opacity: 0;
    background-image: url("/assets/img/logo_top.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-50%, -50%);
    animation: fadein 5s ease 2.5s 1 forwards;

    @media isUnderMedium {
      & {
        animation: fadein 5s ease 1.5s 1 forwards;
      }
    }

    @media isUnderSmall {
      & {
        width: 250px;
        height: 60px;
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}